<div class="content-container">
  <div class="content-item mini header">
    <i class="header-icon fas fa-atlas"></i>
    <a
      href="https://www.worldanvil.com/w/flowup-d26d-world-mintenker"
      target="_blank"
      class="title"
    >
      FlowUp D&D world
    </a>
  </div>
  <div class="content-item">
    <img src="assets/dnd-map.jpg" class="map" />

    <p>
      Nobody knows where the dragon came from, but it appeared near the town of
      Arok and caused all sort of trouble.
    </p>

    <div class="section-title">Guild of Adventurers</div>
    <p>
      The job of the Adventurer's Guild includes offering quests, handling
      requests from civilians to be posted as quests, and also taking charge of
      the ranks assigned to current adventurers. After an adventurer completes a
      quest, the guild offers the associated sum of money.
    </p>

    <div class="section-title">
      Arok
    </div>
    <p>
      Small town situated on the edge of forest, which provides it with high
      quality wood, sought after in the area. Used to be barely worthy of note,
      until huge bronze dragon decided to settle in the hills north-west of
      town. This started a chain of events, that put Arok on the map of the
      world.
    </p>
  </div>
</div>
