@import 'variables';

$margin-size: 40px;

.content-container {
  height: 100%;
  width: 1300px;
  background: url(~src/assets/border.png) center top no-repeat rgba($background-color, 0.6);
  background-size: cover;
  border-radius: 4px;
  overflow-y: auto;
  padding: 40px;
}
