@import "variables";

.side-nav-container {
  background-color: $card-background-color;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  width: 235px;
}

.dice-logo {
  width: 120px;
  height: 120px;
  align-self: center;
  margin-bottom: 35px;
}

.menu-item {
  cursor: pointer;
  padding: 10px 0 10px 0;
}
