@import 'variables';

$hover-color: #202330;
$icon-size: 24px;

.mat-expansion-panel {
  background-color: transparent;
  box-shadow: none;
}

.mat-expansion-panel-header {
  padding-left: 0;

  &:hover {
    background-color: $hover-color !important;
  }
}

::ng-deep .mat-expansion-indicator::after {
  color: $font-color;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 20px !important;
}

.side-nav-container {
  background-color: $card-background-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 235px;
}

.dice-logo {
  width: 120px;
  height: 120px;
  align-self: center;
  margin-bottom: 35px;
  margin-top: 20px;
}

.menu-item {
  cursor: pointer;
  padding: 12px 20px 12px 20px;
  display: flex;
  align-items: center;
  user-select: none;
  width: 100%;

  &.submenu {
    padding: 6px 12px 6px 12px;
  }

  &.active-link {
    background-color: rgba($default-background-color, 0.8);
  }

  &:hover {
    background-color: $hover-color;
  }
}

.menu-icon {
  margin-right: 20px;
  color: $font-color;
  width: $icon-size;
  height: $icon-size;
}

.menu-label {
  font-size: 13px;
  font-weight: 500;
  color: $font-color;
}
