@import 'variables';
$hover-color: #202330;

.side-nav-container {
  background-color: $card-background-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 235px;
}

.dice-logo {
  width: 120px;
  height: 120px;
  align-self: center;
  margin-bottom: 35px;
  margin-top: 20px;
}

.menu-item {
  cursor: pointer;
  padding: 15px 20px 15px 20px;
  display: flex;
  align-items: center;
  user-select: none;
  color: $font-color;

  &.active-link {
    background-color: rgba($default-background-color, 0.8);
  }

  &:hover {
    background-color: $hover-color;
  }

  .menu-label {
    font-size: 13px;
    font-weight: 500;
  }
}

.menu-icon {
  margin-right: 20px;
}
