@import 'variables';

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.app-container-right {
  display: flex;
  flex-direction: column;
  width: 100%;

  .mat-toolbar {
    background-color: $card-background-color;
    border-left: 1px $default-background-color solid;
    color: $font-color;
  }
}

.app-content {
  width: 100%;
  height: 100%;
  background-color: $default-background-color;
}
