.background-container {
  height: 100%;
  width: 100%;
  background: url(~src/assets/bg.jpg) center top no-repeat black;
  display: flex;
  justify-content: center;
  padding: 70px 0 10px;

  .content {
    height: 100%;
    width: 100%;
  }
}
