@import 'variables';

$navigation-height: 56px;
$navigation-margin: 4px;
$navigation-item-width: 160px;
$navigation-line-height: 2px;

.navigation-container {
  display: flex;
  justify-content: center;
  position: fixed;
  height: $navigation-height;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba($background-color, 0) 0%,
    rgba($background-color, 0) 10%,
    rgba($background-color, 1) 40%,
    rgba($background-color, 1) 60%,
    rgba($background-color, 0) 90%,
    rgba($background-color, 0) 100%
  );
  opacity: 0.8;

  .navigation-menu {
    display: flex;
    align-items: center;

    .menu-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: $navigation-item-width;
      cursor: pointer;
      user-select: none;

      .label {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $font-h1-size;
        font-weight: 700;
        transition: font-size $animation-time ease, color $animation-time ease;
        height: calc(#{$navigation-height} - #{$navigation-line-height});
      }

      .line {
        height: $navigation-line-height;
        width: 0;
        background-color: $secondary-color;
        transition: width $animation-time ease;
      }

      &:hover {
        .label {
          color: $secondary-color;
          font-size: $font-h1-exp-size;
        }

        .line {
          width: 100%;
        }
      }
    }
  }
}

.logo {
  width: calc(#{$navigation-height} - #{$navigation-margin} * 2);

  &:hover {
    filter: drop-shadow(0 2px 2px rgba($secondary-dark-color, 0.4));
  }
}

.active-link {
  .label {
    color: $secondary-color;
    font-size: $font-h1-exp-size;
  }

  .line {
    width: 100%;
  }
}
