$background-color: #cccccc;
$primary-color: #14a098;
$primary-dark-color: #0f292f;
$secondary-color: #cb2d6f;
$secondary-dark-color: #501f3a;
$font-color: #1A1A1D;

$font-basic-size: 13px;
$font-h1-size: 24px;
$font-h1-exp-size: 26px;
$font-h2-size: 16px;

$animation-time: 120ms;

$regular-font-family: 'Almendra', 'Lucida Grande', 'Lucida Sans Unicode',
'Lucida Sans', 'Tahoma', sans-serif;
