$background-color: #cccccc;
$primary-color: #14a098;
$primary-dark-color: #0f292f;
$secondary-color: #cb2d6f;
$secondary-dark-color: #501f3a;
$font-color: #7882a2;

$default-background-color: #181c28;
$card-background-color: #292d39;

$font-basic-size: 16px;
$font-h1-size: 24px;
$font-h1-exp-size: 26px;
$font-h2-size: 18px;

$regular-font-family: 'Roboto', sans-serif;

$animation-time: 120ms;
