@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Almendra');

html,
body {
  margin: 0;
}

* {
  font-family: $regular-font-family;
  font-size: $font-basic-size;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

/* stylelint-disable-next-line selector-max-type */
input,
button {
  border: none;
  background: none;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
  align-items: center;
  margin: $content-margin;

  .content-item {
    grid-column: 1 / span 3;
    background-color: $card-background-color;
    border-radius: $border-radius;
    padding: $content-margin;

    &.mini {
      grid-column: auto;
    }
  }
}

.header {
  display: flex;
  align-items: center;

  .header-icon {
    font-size: 24px;
    color: $primary-color;
    margin-right: 20px;
  }
}

.title {
  font-size: 20px;
  color: $primary-color;
}

.section-title {
  font-size: 18px;
  color: $secondary-color;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

.mat-input-element {
  color: $font-color;
}

.mat-form-field-label,
.mat-select-value,
.mat-select-arrow,
.mat-paginator-icon {
  /*change color of label*/
  color: $font-color !important;
}

.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $primary-color !important;
}

.mat-form-field-underline {
  /*change color of underline*/
  background-color: $font-color !important;
}
